[submodule "dependencies/concurrentqueue"]
	path = dependencies/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "dependencies/rocket"]
	path = dependencies/rocket
	url = https://github.com/tripleslash/rocket.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/FastNoise2"]
	path = dependencies/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
